<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>Панель навигации</h1>
<!--<a href="show_all">Все студенты</a>-->
<!--<a href="http://localhost:8189/app/show_all">Все студенты</a>-->
<a th:href="@{'/students/show_all'}">Все студенты</a>

    <p></p>
    <a th:href="@{'/students/text'}">Some text</a>
<!--<a th:href="show_all" class="btn btn-primary">Все студенты</a>-->
</div>
</body>
</html>