<div>
    <p></p>
    <h3>Регистрация пользователя</h3>
    <form novalidate ng-submit="registerUser()">
        <input class="form-control" type="text" placeholder="Username" ng-model="new_user.username">
        <p></p>
        <input class="form-control" type="password" placeholder="Password" ng-model="new_user.password">
        <p></p>
        <input class="form-control" type="password" placeholder="Repeat password" ng-model="new_user.controlPassword">
        <p></p>
        <input class="form-control" type="text" placeholder="E-mail" ng-model="new_user.email">
        <p></p>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>